<div class="spacer"></div>

<div id="company" class="group">
    <header class="t-center">
        <h3> Our Idea </h3><br>
    </header>
    <div class="row">
        <h5 class="col span_2_of_2 t-center subtitle"> <em class="hvr-grow">Creativity</em> is thinking up new things. <em class="hvr-grow">Innovation </em> is doing new things.</h5>
        <article class="section group t-center company_intro">
            <div class="col span_1_of_2">
                <h5>We encountered a problem</h5>
                <br>
                <p>
                    Mocean arises from the discovery of a problem that currently encounters almost everyone
                    involved in the nautical world and it is the fact that boats are prone to motion, which means that <b>all the
                    galley ware can easily fall.</b>
                </p>
            </div>
            <div class=" col span_1_of_2">
                <h5>We found an innovative solution</h5>
                <br>
                <p>We offer a range of magnetic galley ware products that does not require changing consumer habits or make
                    a specific installation on the boat and can <b> adapt to uneven surfaces and with different inclinations.</b>
                </p>
            </div>
        </article>
    </div>
</div>

<div id="how">
    <div class="spacer"></div>
    <header class="">
        <div class="row">
            <h3 class="t-center">Mocean Secure System</h3>
        </div>
    </header>
    <div class="row">
        <h5 class="t-center"> <i class="hvr-grow"> Safe </i> | <em class="hvr-grow"> Simple </em> | <em class="hvr-grow"> Elegant </em> </h5>
        <article class="section group">
            <div class=" col span_1_of_2 contentBox">
                <h5 class="t-center">Wide range of products</h5>
                <p>
                    The Mocean range includes everything from tumblers, to wine and champagne
                    flutes, goblets and beer glasses, pitchers, cocktail Bottle Coolers, Wine Decanters and even shot
                    glasses, for stylish entertaining, anywhere.

                </p>
            </div>
            <div class=" col span_1_of_2  contentBox ">
                <h5 class="t-center">Hand finished elegance</h5>
                <p>
                    All Mocean products are hand finished to remove manufacturing join lines, giving the clarity and
                    elegance of glass. Mocean does not shatter making it an extremely safe and cost effective
                    alternative to
                    glass and is dishwasher safe, so will not crack or craze in the dishwasher.

                </p>
            </div>

        </article>
        <article class="section group">
            <div class="   col span_1_of_2 contentBox">
                <h5 class="t-center">Innovative securing tecnology</h5>
                <p>
                    All Mocean products are equipped with our special motion secure system. A compatibility system with
                    specially designed place mats for your table and cabinet storage trays.
                </p>
            </div>
            <div class="col span_1_of_2 contentBox">
                <h5 class="t-center">Easy to use</h5>
                <p>
                    The storage tray is easy to use, simply touch the tray and your glasses will stick to it due to its
                    unique magnetic properties. If you wish to use them, simply pull them lose of the tray.
                    Mocean dinnerware is a high quality range that combines the strength of polycarbonate, with the
                    elegant
                    look and feel of glass.
                </p>


            </div>
        </article>
        <div class="spacer"></div>
    </div>
</div>