<div class="spacer"></div>
<section class="section group">
    <article class=" col span_2_of_2">
    <h3>{{propertiename}}</h3>
    </article>

    <section class="section group">
    <article class="col span_1_of_2">
        <img width="100%" height="300px">
    </article>
    <article class="col span_1_of_2">
        <p>
            Lorem ipsum set amen Lorem ipsum set amen Lorem ipsum set amen Lorem ipsum set amenLorem
            ipsum set amenLorem ipsum set amenLorem ipsum set amen
        </p>
    </article>
    </section>
</section>