@import '../_styles/constants';

.blue1 {
  background-color: $blue1;
}

.blue2 {
  background-color: $blue2;
}

.blue3 {
  background-color: $blue3;
}

.blue4 {
  background-color: $blue4;
}

.green1 {
  background-color: $green1;
}

.green2 {
  background-color: $green2;
}

.green3 {
  background-color: $green3;
}

.green4 {
  background-color: $green4;
}

.red1 {
  background-color: $red1;
}

.red2 {
  background-color: $red2;
}

.red3 {
  background-color: $red3;
}

.red4 {
  background-color: $red4;
}

.greyblack {
  background-color: $greyblack;
  color: $grey2;
}

.grey1 {
  background-color: $grey1;
  color: $grey3;
}

.grey2 {
  background-color: $grey2;
}

.grey3 {
  background-color: $grey3;
}

.btn {
  border: 2px solid;
  border-radius: 5px;
  background: none;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  text-overflow: clip;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);

  &.white {
    &.full {
      background: rgba(255, 255, 255, 1);
    }
    &.empty {
      background: rgba(255, 255, 255, 0);
    }
    border-color: white;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  &.green {
    &.full {
      background: rgba(255, 255, 255, 1);
    }
    border-color: rgb(30, 205, 151);
    color: rgb(30, 205, 151);
    background: rgba(255, 255, 255, 0.5);
    &:hover {
      background: rgb(30, 205, 151);
      color: rgba(255, 255, 255, 1);
    }
    &active {
      border: 2px solid rgba(33, 224, 163, 1);
      background: rgba(33, 224, 163, 1);
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
    &.invert {
      border-color: rgb(30, 205, 151);
      background: rgb(30, 205, 151);
      color: rgba(255, 255, 255, 1);
      &:hover {
        color: rgb(30, 205, 151);
        background: rgba(255, 255, 255, 0.5);
        &.full {
          background: rgba(255, 255, 255, 1);
        }
      }
      &active {
        border: 2px solid rgba(33, 224, 163, 1);
        background: rgba(33, 224, 163, 1);
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
      }
    }
  }
  &.red {
    &.full {
      background: rgba(255, 255, 255, 1);
    }
    border-color: #FF7878;
    color: #FF7878;
    background: rgba(255, 255, 255, 0.5);
    &:hover {
      background: #FF7878;
      color: rgba(255, 255, 255, 1);
    }
    &:active {
      border: 2px solid #ff7878;
      background: #ff9999;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
    &.invert {
      border-color: #FF7878;
      background: #FF7878;
      color: rgba(255, 255, 255, 1);
      &:hover {
        color: #FF7878;
        background: rgba(255, 255, 255, 0.5);
        &.full {
          background: rgba(255, 255, 255, 1);
        }
      }
      &.active{
        &:hover {
          border-color: #FF7878;
          background: #FF7878;
          color: rgba(255, 255, 255, 1);
        }
        &:active {
          color: #FF7878;
          background: rgba(255, 255, 255, 0.5);
          &.full {
            background: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
  &.blue {
    &.full {
      background: rgba(255, 255, 255, 1);
    }
    color: #779ECB;
    background: rgba(255, 255, 255, 0.5);
    border-color: #779ECB;
    &:hover {
      color: rgba(255, 255, 255, 1);
      background: #779ECB;
    }
    &:active {
      border: 2px solid #779ECB;
      background: #97c7f6;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
    &.invert {
      background: #779ECB;
      color: rgba(255, 255, 255, 1);
      border-color: #779ECB;
      &:hover {
        color: #779ECB;
        background: rgba(255, 255, 255, 0.5);
        &.full {
          background: rgba(255, 255, 255, 1);
        }
      }
      &:active {
        border: 2px solid #779ECB;
        background: #97c7f6;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
      }
    }
  }
}

hr {
  &.gradient {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-middle {
  margin: 0 auto;
}

.t-center {
  text-align: center;
}

section.section.group {
  padding: 20px 30px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  border-color: inherit;
}

.popUpBackGround {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

&.small {
  font-size: 75%;
}

.popUpContainer {
  background: white;
  margin-top: 10vh;
  overflow: hidden;
  padding: 10px 20px;
}

form {
  padding: 10px;
  background-color: $grey5;
  border: 1px solid $grey3;
  border-radius: 1px;
  margin: 20px auto;
  .formGroup {
    margin-bottom: 5px;
    background-color: $grey3;
    border: 1px solid $grey2;
    padding: 5px;
  }
  input[type='text'], input[type='email'], input[type='password'], input[type='number'], textarea, button, select {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    padding-left: 10px;
    margin: 5px 0;
    font: 100%/1.6em 'Raleway', sans-serif;
  }
  label {
    font-weight: bold;
    &.for {
      font-size: 75%;
      line-height: 75%;
      padding-left: 10px;
      font-weight: normal;
    }
  }
  textarea {
    padding-top: 5px;
    height: 100px;
    resize: none;
  }
}

//trata a los bordes y las padding dentro del tamaño del contenedor, por tanto ya no añaden al tamaño
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, input, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}