#header{
  position: fixed;
  z-index: 2;
  width:100%;
}
#wrapper {
  min-height: 100vh;
  position: relative;
}

#container {
  .spacer{
    height:60px;
  }
 // padding-bottom: 350px;
  position:relative;
}
/*
#footer {
  position: absolute;
  bottom: 0px;
  min-height: 350px;
}
*/
@import '_sass/text';
@import '_sass/global';
@import '_sass/constants';
@import '_sass/columngrid';







