
.blue1 {
  background-color:#003366;
}

.blue2 {
  background-color: #02599E
}

.blue3 {
  background-color: #6699CC;
}

.blue4 {
  background-color: #66CCFF;
}

.green1 {
  background-color: #1ECD97;
}

.green2 {
  background-color: #21E0A3;
}

.green3 {
  background-color: #D5E286;
}

.green4 {
  background-color: #EEEB80;
}

.red1 {
  background-color: #ff7878;
}

.red2 {
  background-color: #ff9999;
}

.red3 {
  background-color: #F9B48A;
}

.red4 {
  background-color:#FABC89;
}

.greyblack {
  background-color:  #333333;
  color: #C4C4C4;
}

.grey1 {
  background-color:#999999;
  color: #EAEAEA;
}

.grey2 {
  background-color: #C4C4C4;
}

.grey3 {
  background-color: #EAEAEA;
}

.btn {
  border: 2px solid;
  border-radius: 5px;
  background: none;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  text-overflow: clip;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);

  &.white {
    &.full {
      background: #FFFFFF;
    }
    &.empty {
      background: #FFFFFF;
    }
    border-color: white;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  &.green {
    &.full {
      background: #FFFFFF;
    }
    border-color: #1ECD97;
    color: #1ECD97;
    background: #FFFFFF;
    &:hover {
      background: #1ECD97;
      color: #FFFFFF;
    }
    &active {
      border: 2px solid #1ECD97;
      background: #1ECD97;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
    &.invert {
      border-color: #1ECD97;
      background: #1ECD97;
      color: #FFFFFF;
      &:hover {
        color: #1ECD97;
        background: #FFFFFF;
        &.full {
          background: #FFFFFF;
        }
      }
      &active {
        border: 2px solid #21E0A3;
        background: #21E0A3;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
      }
    }
  }
  &.red {
    &.full {
      background: #FFFFFF;
    }
    border-color: #FF7878;
    color: #FF7878;
    background: #FFFFFF;
    &:hover {
      background: #FF7878;
      color: #FFFFFF;
    }
    &:active {
      border: 2px solid #ff7878;
      background: #ff9999;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
    &.invert {
      border-color: #FF7878;
      background: #FF7878;
      color: #FFFFFF;
      &:hover {
        color: #FF7878;
        background: #FFFFFF;
        &.full {
          background: #FFFFFF;
        }
      }
      &.active{
        &:hover {
          border-color: #FF7878;
          background: #FF7878;
          color: #FFFFFF;
        }
        &:active {
          color: #FF7878;
          background: #FFFFFF;
          &.full {
            background: #FFFFFF;
          }
        }
      }
    }
  }
  &.blue {
    &.full {
      background: #FFFFFF;
    }
    color: #779ECB;
    background: #FFFFFF;
    border-color: #779ECB;
    &:hover {
      color: #FFFFFF;
      background: #779ECB;
    }
    &:active {
      border: 2px solid #779ECB;
      background: #97c7f6;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
    }
    &.invert {
      background: #779ECB;
      color: #FFFFFF;
      border-color: #779ECB;
      &:hover {
        color: #779ECB;
        background: #FFFFFF;
        &.full {
          background: #FFFFFF;
        }
      }
      &:active {
        border: 2px solid #779ECB;
        background: #97c7f6;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
      }
    }
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-middle {
  margin: 0 auto;
}

.t-center {
  text-align: center;
}

section.section.group {
  padding: 20px 30px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  border-color: inherit;
}

.popUpBackGround {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #000000;
}

.small {
  font-size: 75%;
}

.popUpContainer {
  background: white;
  margin-top: 10vh;
  overflow: hidden;
  padding: 10px 20px;
}

form {
  padding: 10px;
  background-color: #EDEDED;
  border: 1px solid #EAEAEA;
  border-radius: 1px;
  margin: 20px auto;
  .formGroup {
    margin-bottom: 5px;
    background-color: #EAEAEA;
    border: 1px solid #C4C4C4;
    padding: 5px;
  }
  input[type='text'], input[type='email'], input[type='password'], input[type='number'], textarea, button, select {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    padding-left: 10px;
    margin: 5px 0;
    font: 100%/1.6em 'Raleway', sans-serif;
  }
  label {
    font-weight: bold;
    &.for {
      font-size: 75%;
      line-height: 75%;
      padding-left: 10px;
      font-weight: normal;
    }
  }
  textarea {
    padding-top: 5px;
    height: 100px;
    resize: none;
  }
}

//trata a los bordes y las padding dentro del tamaño del contenedor, por tanto ya no añaden al tamaño
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, input, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}