<div class="section group subtagline">
    <div class="row">
        <div class="float-left logo_wrapper"><img src="img/logo.png" class=""></div>
        <div class="float-left"><h4 class="float-middle">We build high-quality glass and policarbonate gallyware</h4>
        </div>
    </div>
</div>
<section class="section group fidelization t-center">
    <div class="row">
        <div class="col span_1_of_3 center">
            <h5>Get in touch</h5>

            <p>We'd like to hear from you! <br>Call us, send us an email or talk to sales.</p>
            <a class="btn blue empty" ui-sref="index.contact">Contact Us</a>
        </div>
        <div class="col span_1_of_3 center">
            <h5>Get the latest news and offers</h5>

            <p>Sign up to our newsletter, we'll inform you of any news and offer that might interest you.</p>
            <a class="btn green empty " ui-sref="index.account.register">Sign up</a>
        </div>
        <div class="col span_1_of_3 center">
            <h5>Connect</h5>
            <ul class="socialbuttons">
                <a href="https://www.facebook.com/pages/Mocean/333740480147222">
                    <li class="hvr-grow fb"><i class="fa fa-2x fa-facebook-square"></i></li>
                </a>
                <a href="https://twitter.com/MoceanShop">
                    <li class="hvr-grow tw"><i class="fa fa-2x fa-twitter-square"></i></li>
                </a>
                <!--<a href="https://twitter.com/MoceanShop"><li class="hvr-grow"><i class="fa fa-2x fa-google-plus-square"></i></li></a>
                    <a href="https://twitter.com/MoceanShop"><li class="hvr-grow"><i class="fa fa-2x fa-pinterest-square"></i></li></a>
                        <a href="https://twitter.com/MoceanShop"><li class="hvr-grow"><i class="fa fa-2x fa-youtube-square"></i></li></a>-->
            </ul>
        </div>
    </div>
</section>
<div class="section group terms " >
    <div class="row">

        <div class="col span_1_of_2 t-center">
           <label class=" "> <a href="#">Privacy Policy</a></label>
            <label class=" "><a href="#">Terms of service</a></label>
               <label class=" "><a href="#">License/FAQS</a></label>
        </div>
        <div class="col span_1_of_2 t-center"><label class=" copyright">© 2015 Mocean, Inc. All rights
            reserved</label></div>
    </div>
</div>
