<div class="spacer"></div>



<div id="teamMembers" class="group">

<header class="t-center">
    <h3> Our team </h3>
</header>

    <section  class="row">
        <article class="col span_3_of_3 ">
            <div class="group  float-middle teamIntro">

                <p class="col span_1_of_2">
                <b>Mocean Creative team </b> consist&apos;s of a small team of young driven entrepreneurs with a natural talent
                for ingenuity and innovation.</p>

                <p  class=" col span_1_of_2">
                <b>Our goal </b> is to solve common everyday problems by inventing and
                developing products that make everyday life for people easier.
                </p>
            </div>
        </article>


        <article class="span_2_of_4 float-middle teamMemberContainer">
            <div class="col span_1_of_2 teamMember">
                <img class="hvr-grow" src="img/team/vincent_sm.png">
                <label>Vincent Hoonings</label>
                <blockquote>Founder-Inventor</blockquote>
            </div>
            <div class="col span_1_of_2 teamMember">
                <img class="hvr-grow" src="img/team/artur_sm.png">
                <label>Artur Smalovschi</label>
                <blockquote>Co-Founder of the company</blockquote>
            </div>
        </article>
        <article class="span_3_of_4 float-middle teamMemberContainer">
            <div class="col span_1_of_3 teamMember">
                <img class="hvr-grow" src="img/team/martina_sm.png">
                <label>Martina Miraballes</label>
                <blockquote>Head of Creative Design</blockquote>
            </div>
            <div class="col span_1_of_3 teamMember">
                <img class="hvr-grow" src="img/team/sjoerd_sm.png">
                <label>Sjoerd Vocking</label>
                <blockquote>Creative Director</blockquote>
            </div>
            <div class="col span_1_of_3 teamMember">
                <img class="hvr-grow" src="img/team/david_afro.jpg">
                <label>David Valentin Moehring</label>
                <blockquote>Web MASTER</blockquote>
                <div class="spacer"></div>
            </div>

        </article>


    </section>
</div>
