$font-stack: 'Raleway', sans-serif;

$blue1: #003366;
$blue2: #02599e;
$blue3: #6699CC;
$blue4: #66CCFF;

$green1: #1ECD97;
$green2: #21E0A3;
$green3:#D5E286;
$green4:#EEEB80;

$red1:#ff7878;
$red2:#ff9999;
$red3:#F9B48A;
$red4:#FABC89;

$greyblack: #333333;

$grey1: #999999;
$grey2: #C4C4C4;
$grey3: #DDDDDD;
$grey4: #EAEAEA;
$grey5: #EDEDED;
$grey6: #F0F0F0;
$grey7: #F6F6F6;



